{
	auto_https off
}

:443 {
	tls /root/coedit/apps/container/certificate/fullchain.pem /root/coedit/apps/container/certificate/key.pem

	@app expression {host}.endsWith("-app${ROOT_DOMAIN}")
	@server expression {host}.endsWith("-server${ROOT_DOMAIN}")

	reverse_proxy @app localhost:3000
	reverse_proxy @server localhost:8000
}

:80 {
	redir https://{host}{uri}
}
