@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --gray-1: 0 0% 7%;
    --gray-2: 0 0% 10%;
    --gray-3: 0 0% 13%;
    --gray-4: 0 0% 16%;
    --gray-5: 0 0% 19%;
    --gray-6: 0 0% 23%;
    --gray-7: 0 0% 28%;
    --gray-8: 0 0% 38%;
    --gray-9: 0 0% 43%;
    --gray-10: 0 0% 48%;
    --gray-11: 0 0% 71%;

    --blue-1: 215 42% 9%;
    --blue-2: 218 39% 11%;
    --blue-3: 212 69% 16%;
    --blue-4: 209 100% 19%;
    --blue-5: 207 100% 23%;
    --blue-6: 209 79% 30%;
    --blue-7: 211 66% 37%;
    --blue-8: 211 65% 45%;
    --blue-9: 206 100% 50%;
    --blue-10: 210 100% 62%;
    --blue-11: 210 100% 72%;
    --blue-12: 205 100% 88%;
  }
}
