@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }

  svg {
    @apply size-full;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --gray-1: 0 0% 7%;
    --gray-2: 0 0% 10%;
    --gray-3: 0 0% 13%;
    --gray-4: 0 0% 16%;
    --gray-5: 0 0% 19%;
    --gray-6: 0 0% 23%;
    --gray-7: 0 0% 28%;
    --gray-8: 0 0% 38%;
    --gray-9: 0 0% 43%;
    --gray-10: 0 0% 48%;
    --gray-11: 0 0% 71%;

    --blue-1: 215 42% 9%;
    --blue-2: 218 39% 11%;
    --blue-3: 212 69% 16%;
    --blue-4: 209 100% 19%;
    --blue-5: 207 100% 23%;
    --blue-6: 209 79% 30%;
    --blue-7: 211 66% 37%;
    --blue-8: 211 65% 45%;
    --blue-9: 206 100% 50%;
    --blue-10: 210 100% 62%;
    --blue-11: 210 100% 72%;
    --blue-12: 205 100% 88%;

    --iris-1: 240 22% 10%;
    --iris-2: 244 25% 12%;
    --iris-3: 237 38% 20%;
    --iris-4: 236 45% 27%;
    --iris-5: 237 41% 32%;
    --iris-6: 239 36% 37%;
    --iris-7: 240 34% 44%;
    --iris-8: 241 36% 52%;
    --iris-9: 240 60% 60%;
    --iris-10: 242 64% 64%;
    --iris-11: 246 100% 83%;
    --iris-12: 242 94% 94%;

    --sage-1: 150 6% 7%;
    --sage-2: 150 4% 9%;
    --sage-3: 150 3% 13%;
    --sage-4: 160 4% 16%;
    --sage-5: 160 3% 19%;
    --sage-6: 150 4% 22%;
    --sage-7: 156 4% 28%;
    --sage-8: 154 4% 37%;
    --sage-9: 157 6% 41%;
    --sage-10: 160 5% 47%;
    --sage-11: 157 5% 69%;
    --sage-12: 150 6% 93%;

    --red-1: 0 19% 8%;
    --red-2: 355 25% 10%;
    --red-3: 350 53% 15%;
    --red-4: 348 68% 19%;
    --red-5: 350 63% 23%;
    --red-6: 352 53% 29%;
    --red-7: 355 47% 37%;
    --red-8: 358 45% 49%;
    --red-9: 358 75% 59%;
    --red-10: 360 79% 65%;
    --red-11: 2 100% 79%;
    --red-12: 350 100% 91%;

    --green-1: 154 20% 7%;
    --green-2: 153 20% 9%;
    --green-3: 152 41% 13%;
    --green-4: 154 55% 15%;
    --green-5: 154 52% 19%;
    --green-6: 153 46% 23%;
    --green-7: 152 44% 28%;
    --green-8: 151 45% 34%;
    --green-9: 151 55% 42%;
    --green-10: 151 55% 45%;
    --green-11: 151 65% 54%;
    --green-12: 144 70% 82%;
  }
}

.xterm {
  background-color: hsl(var(--gray-2)) !important;
}

.xterm .xterm-viewport {
  background-color: hsl(var(--gray-2)) !important;
}

.xterm .xterm-viewport::-webkit-scrollbar {
  width: 10px;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb {
  background-color: hsl(var(--gray-4));
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--gray-5));
}
