@import 'tailwindcss';

@theme {
  /* Colors */
  --color-gray-1: hsl(0 0% 7%);
  --color-gray-2: hsl(0 0% 10%);
  --color-gray-3: hsl(0 0% 13%);
  --color-gray-4: hsl(0 0% 16%);
  --color-gray-5: hsl(0 0% 19%);
  --color-gray-6: hsl(0 0% 23%);
  --color-gray-7: hsl(0 0% 28%);
  --color-gray-8: hsl(0 0% 38%);
  --color-gray-9: hsl(0 0% 43%);
  --color-gray-10: hsl(0 0% 48%);
  --color-gray-11: hsl(0 0% 71%);
  --color-gray-12: hsl(0 0% 93%);

  --color-blue-1: hsl(215 42% 9%);
  --color-blue-2: hsl(218 39% 11%);
  --color-blue-3: hsl(212 69% 16%);
  --color-blue-4: hsl(209 100% 19%);
  --color-blue-5: hsl(207 100% 23%);
  --color-blue-6: hsl(209 79% 30%);
  --color-blue-7: hsl(211 66% 37%);
  --color-blue-8: hsl(211 65% 45%);
  --color-blue-9: hsl(206 100% 50%);
  --color-blue-10: hsl(210 100% 62%);
  --color-blue-11: hsl(210 100% 72%);
  --color-blue-12: hsl(205 100% 88%);

  --color-iris-1: hsl(240 22% 10%);
  --color-iris-2: hsl(244 25% 12%);
  --color-iris-3: hsl(237 38% 20%);
  --color-iris-4: hsl(236 45% 27%);
  --color-iris-5: hsl(237 41% 32%);
  --color-iris-6: hsl(239 36% 37%);
  --color-iris-7: hsl(240 34% 44%);
  --color-iris-8: hsl(241 36% 52%);
  --color-iris-9: hsl(240 60% 60%);
  --color-iris-10: hsl(242 64% 64%);
  --color-iris-11: hsl(246 100% 83%);
  --color-iris-12: hsl(242 94% 94%);

  --color-sage-1: hsl(150 6% 7%);
  --color-sage-2: hsl(150 4% 9%);
  --color-sage-3: hsl(150 3% 13%);
  --color-sage-4: hsl(160 4% 16%);
  --color-sage-5: hsl(160 3% 19%);
  --color-sage-6: hsl(150 4% 22%);
  --color-sage-7: hsl(156 4% 28%);
  --color-sage-8: hsl(154 4% 37%);
  --color-sage-9: hsl(157 6% 41%);
  --color-sage-10: hsl(160 5% 47%);
  --color-sage-11: hsl(157 5% 69%);
  --color-sage-12: hsl(150 6% 93%);

  --color-red-1: hsl(0 19% 8%);
  --color-red-2: hsl(355 25% 10%);
  --color-red-3: hsl(350 53% 15%);
  --color-red-4: hsl(348 68% 19%);
  --color-red-5: hsl(350 63% 23%);
  --color-red-6: hsl(352 53% 29%);
  --color-red-7: hsl(355 47% 37%);
  --color-red-8: hsl(358 45% 49%);
  --color-red-9: hsl(358 75% 59%);
  --color-red-10: hsl(360 79% 65%);
  --color-red-11: hsl(2 100% 79%);
  --color-red-12: hsl(350 100% 91%);

  --color-green-1: hsl(154 20% 7%);
  --color-green-2: hsl(153 20% 9%);
  --color-green-3: hsl(152 41% 13%);
  --color-green-4: hsl(154 55% 15%);
  --color-green-5: hsl(154 52% 19%);
  --color-green-6: hsl(153 46% 23%);
  --color-green-7: hsl(152 44% 28%);
  --color-green-8: hsl(151 45% 34%);
  --color-green-9: hsl(151 55% 42%);
  --color-green-10: hsl(151 55% 45%);
  --color-green-11: hsl(151 65% 54%);
  --color-green-12: hsl(144 70% 82%);

  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);

  --animation-caret-blink: caret-blink 1.25s ease-out infinite;
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }

  20%,
  50% {
    opacity: 0;
  }
}

@layer base {
  html {
    color-scheme: dark;
  }

  svg {
    @apply size-full;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.xterm {
  background-color: hsl(var(--gray-2)) !important;
}

.xterm .xterm-viewport {
  background-color: hsl(var(--gray-2)) !important;
}

.xterm .xterm-viewport::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--gray-4));
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb:hover,
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--gray-5));
}
