# supabase
DB_URL=''

RESEND_API_KEY=''
# coedit team <abc@example.com>
RESEND_FROM=''

UPSTASH_REDIS_REST_URL=''
UPSTASH_REDIS_REST_TOKEN=''

# 43 chars
JWT_SECRET=''

# deployment OR production
RUNTIME='deployment'

# AWS
AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_BUCKET=''

CORS_ORIGIN='http://localhost:3000'

