# absolute path
WORKDIR=

DOCKER_SOCKET_PATH=

# .abc.example.com
ROOT_DOMAIN=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# ip address of machine
MACHINE_IP=

USER_API=
CORS_ORIGIN=
MACHINE_SECRET=

# max number of concurrent projects this instance can run (default 1)
MAX_CAPACITY=1
